name: Docker Image CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Build
        run: yarn tsc --noEmit && yarn eslint "**/*.{js,ts}"
      - name: Test
        run: yarn test
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag docker.pkg.github.com/${GITHUB_REPOSITORY}/quack-rock-api:latest
      - name: Authenticate with the registry
        run: docker login https://docker.pkg.github.com -u attadanta --password ${{ secrets.GITHUB_TOKEN }}
      - name: Publish the Docker image
        run: docker push docker.pkg.github.com/${GITHUB_REPOSITORY}/quack-rock-api:latest
